.calc-sec {
  padding-bottom: 60px;

  &__top {
    margin-bottom: 25px;
  }

  &__box {
    display: flex;
    align-items: flex-start;
    grid-gap: 30px;
  }

  &__aside {
    max-width: 370px;
    width: 100%;
  }

  &__item {
    width: 100%;
  }

  &__info {
    font-family: $font-family--a;
    font-style: italic;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: $text--h;
  }
}


.price-box {
  padding: 20px 23px 30px;
  background: linear-gradient(219.16deg, #7BC244 0%, #3A8600 100%);
  border-radius: 10px;

  &__title {
    font-family: $font-family--d;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 100%;
    text-align: center;
    color: $text--h;
    margin-bottom: 30px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 9px;
    border-bottom: 2px dashed #FFFFFF;

    &:last-of-type {
      border-bottom: none;
      margin-top: 10px;

      .price-box__name {
        font-size: 18px;
      }

      .price-box__value {
        font-size: 18px;
      }
    }
  }

  &__name {
    font-family: $font-family--a;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: $text--h;
    display: flex;
    flex-wrap: wrap;

    span {
      color: #5F5F5F;
    }
  }

  &__value {
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 100%;
    text-align: right;
    color: #FFFFFF;
    flex-shrink: 0;
  }

  &__list {
    display: grid;
    grid-gap: 21px;
    margin-bottom: 30px;
  }
}


.chart-box {
  padding: 0 23px;

  &__title {
    font-family: $font-family--d;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: $text--b;
    margin-bottom: 13px;
  }

  &__list {
    grid-gap: 12px;
    display: grid;
  }

  &__item {
    display: flex;
    align-items: center;
    grid-gap: 22px;
    justify-content: center;
  }

  &__date {
    flex-shrink: 0;
    width: 20%;
    text-align: right;
    font-family: $font-family--c;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #7BC244;
  }

  &__info {
    display: flex;
    align-items: center;
    grid-gap: 11px;
    font-family: $font-family--c;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: rgba(95, 95, 95, 0.5);

    svg {
      flex-shrink: 0;
    }
  }
}

.aside-box__top {
  margin-bottom: 20px;
}


.calc-box {

  &__nav {
    width: 100%;
    padding: 15px 0;
    background: linear-gradient(219.16deg, #7BC244 0%, #3A8600 100%);
    border-radius: 10px;
    margin-bottom: 40px;
  }

  &__list {
    display: flex;
    justify-content: space-around;
  }

  &__btn {
    font-family: $font-family--a;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;

    &.active {
      color: #5F5F5F;
      position: relative;

      &::before {
        height: 3px;
        background-color: currentColor;
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }
  }
}


.calc-tab {
  padding-right: 30px;
}

.form-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  grid-gap: 40px 0;

&__title {
  font-family: $font-family--d;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #5F5F5F;
  margin-bottom: 28px;
}

 &__item {
    display: flex;
    width: 100%;
    grid-gap: 20px;
    justify-content: space-between;
    align-items: center;

    // display: grid;
    // grid-template-columns: 80% 20%;

  & > svg {
    fill: transparent;
    flex-basis: 10%;
    flex-shrink: 0;
  }

  .selectize-control::before {
    z-index: 10;
    top: 9px;
    left: 18px;
    height: 20px;
    width: 20px;
    content: '';
    position: absolute;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.90594 0H2.31281C1.03754 0 0 1.03754 0 2.31281V6.90594C0 8.18121 1.03754 9.21875 2.31281 9.21875H6.90594C8.18121 9.21875 9.21875 8.18121 9.21875 6.90594V2.31281C9.21875 1.03754 8.18121 0 6.90594 0ZM7.65625 6.90594C7.65625 7.31965 7.31965 7.65625 6.90594 7.65625H2.31281C1.8991 7.65625 1.5625 7.31965 1.5625 6.90594V2.31281C1.5625 1.8991 1.8991 1.5625 2.31281 1.5625H6.90594C7.31965 1.5625 7.65625 1.8991 7.65625 2.31281V6.90594Z' fill='%237BC244'/%3E%3Cpath d='M17.6562 0H13.125C11.8327 0 10.7812 1.05141 10.7812 2.34375V6.875C10.7812 8.16734 11.8327 9.21875 13.125 9.21875H17.6562C18.9486 9.21875 20 8.16734 20 6.875V2.34375C20 1.05141 18.9486 0 17.6562 0ZM18.4375 6.875C18.4375 7.30578 18.087 7.65625 17.6562 7.65625H13.125C12.6942 7.65625 12.3438 7.30578 12.3438 6.875V2.34375C12.3438 1.91297 12.6942 1.5625 13.125 1.5625H17.6562C18.087 1.5625 18.4375 1.91297 18.4375 2.34375V6.875Z' fill='%237BC244'/%3E%3Cpath d='M6.90594 10.7812H2.31281C1.03754 10.7812 0 11.8188 0 13.0941V17.6872C0 18.9625 1.03754 20 2.31281 20H6.90594C8.18121 20 9.21875 18.9625 9.21875 17.6872V13.0941C9.21875 11.8188 8.18121 10.7812 6.90594 10.7812ZM7.65625 17.6872C7.65625 18.1009 7.31965 18.4375 6.90594 18.4375H2.31281C1.8991 18.4375 1.5625 18.1009 1.5625 17.6872V13.0941C1.5625 12.6804 1.8991 12.3438 2.31281 12.3438H6.90594C7.31965 12.3438 7.65625 12.6804 7.65625 13.0941V17.6872Z' fill='%237BC244'/%3E%3Cpath d='M17.6562 10.7812H13.125C11.8327 10.7812 10.7812 11.8327 10.7812 13.125V17.6562C10.7812 18.9486 11.8327 20 13.125 20H17.6562C18.9486 20 20 18.9486 20 17.6562V13.125C20 11.8327 18.9486 10.7812 17.6562 10.7812ZM18.4375 17.6562C18.4375 18.087 18.087 18.4375 17.6562 18.4375H13.125C12.6942 18.4375 12.3438 18.087 12.3438 17.6562V13.125C12.3438 12.6942 12.6942 12.3438 13.125 12.3438H17.6562C18.087 12.3438 18.4375 12.6942 18.4375 13.125V17.6562Z' fill='%237BC244'/%3E%3C/svg%3E%0A");
  }

  .selectize-control.single .selectize-input::after {
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='12' viewBox='0 0 14 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.86602 10.5C7.48113 11.1667 6.51888 11.1667 6.13398 10.5L1.80385 3C1.41895 2.33333 1.90007 1.5 2.66988 1.5L11.3301 1.5C12.0999 1.5 12.5811 2.33333 12.1962 3L7.86602 10.5Z' stroke='%237BC244' stroke-width='2'/%3E%3C/svg%3E%0A");
    width: 13px;
    height: 13px;
    margin-top: -6px;
  }

  &--radio {
    display: grid;
    grid-gap: 10px;

    label {
      font-family: $font-family--c;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: rgba(95, 95, 95, 0.6);
    }
  }

  &--data {
    .ui-datepicker-trigger {
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
    }

    .hasDatepicker {
      width: 76%;
      height: 40px;
      background: #FFFFFF;
      border: 1px solid #C6C6C6;
      border-radius: 10px;
      text-indent: 48px;
    }

    input {
      font-family: $font-family--c;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
      color: rgba(95, 95, 95, 0.6);

      &::placeholder {
        font-family: $font-family--c;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: rgba(95, 95, 95, 0.6);
      }
    }
  }
 }

 &__body {
   display: grid;
   grid-gap: 20px;
 }

 &__wrapper {
   width: 100%;
 }

 &__inner {
   width: 46%;
 }
}


.ui-widget.ui-widget-content {
  z-index: 20 !important;
}


.radio-list__item .radio label {
  white-space: initial;
}


.form-list__item--row {
  .radio {
    height: initial;
    margin-right: -25px;
  }
}


.works-day {
  font-family: $font-family--c;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #7BC244;
}

.time-wrapper {
  display: flex;
  justify-content: space-between;
  grid-gap: 28px;
  align-items: center;

  &__name {
    font-family: $font-family--c;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: rgba(95, 95, 95, 0.6);
  }

  &__select {
    max-width: 100%;
    width: 100%;
  }

  input {
    text-indent: 48px;
  }

  .selectize-control.single .selectize-input {
    padding: 10px 20px 10px 47px;
    background: #fff;
    border: 1px solid #d7dbe2;
    border-radius: 8px;
  }

  .selectize-control::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.2757 14.1193L12.9295 11.6096V6.49729C12.9295 5.98326 12.514 5.56776 11.9999 5.56776C11.4859 5.56776 11.0704 5.98326 11.0704 6.49729V12.0744C11.0704 12.3672 11.208 12.6433 11.4422 12.818L15.1603 15.6066C15.3276 15.732 15.5228 15.7925 15.717 15.7925C16.0005 15.7925 16.2794 15.6651 16.4616 15.4197C16.7703 15.0097 16.6866 14.4269 16.2757 14.1193Z' fill='%237BC244'/%3E%3Cpath d='M12 0C5.3828 0 0 5.3828 0 12C0 18.6172 5.3828 24 12 24C18.6172 24 24 18.6172 24 12C24 5.3828 18.6172 0 12 0ZM12 22.141C6.40898 22.141 1.85902 17.591 1.85902 12C1.85902 6.40898 6.40898 1.85902 12 1.85902C17.592 1.85902 22.141 6.40898 22.141 12C22.141 17.591 17.591 22.141 12 22.141Z' fill='%237BC244'/%3E%3C/svg%3E%0A");
  }
}

.radio-list__item {
  width: 100%;
}

.form-list__item {
  position: relative;
}

.form-list__ques {
  position: absolute;
  right: -10%;
  transform: translateY(-50%);
  top: 50%;
}

.form-list__item--time {
  display: grid;
  grid-template-columns: 25% 33% 33%;
  grid-gap: initial;
  justify-content: space-between;
}


.form-list__item--type {

  .selectize-control.single .selectize-input {
    padding: 10px 20px 10px 47px;
    background: #fff;
    border: 1px solid #d7dbe2;
    border-radius: 8px;
  }

  .selectize-control::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_14:3313)'%3E%3Cpath d='M23.1816 13.624H21.2258C21.1829 13.4485 21.0831 13.2899 20.9384 13.1756L14.0364 7.72428C14.3146 7.32378 14.4781 6.83801 14.4781 6.31461C14.4781 5.55012 14.1349 4.84869 13.5564 4.38467V2.04959C13.5564 1.59762 13.19 1.2312 12.738 1.2312C12.286 1.2312 11.9196 1.59762 11.9196 2.04959V4.82745C11.9196 5.13804 12.0955 5.42192 12.3736 5.5603C12.6621 5.70373 12.8413 5.99272 12.8413 6.31451C12.8413 6.45519 12.8062 6.58756 12.7449 6.70423L12.5072 6.5165C12.2099 6.28161 11.79 6.28161 11.4927 6.5165L11.255 6.70423C11.1937 6.58761 11.1586 6.45519 11.1586 6.31451C11.1586 5.86254 10.7922 5.49612 10.3402 5.49612C9.88823 5.49612 9.52181 5.86254 9.52181 6.31451C9.52181 6.83801 9.68536 7.32373 9.96352 7.72419L3.06164 13.1756C2.91694 13.2899 2.81709 13.4485 2.7743 13.624H0.818391C0.366422 13.624 0 13.9904 0 14.4424V21.3122C0 21.7641 0.366422 22.1306 0.818391 22.1306H2.77102C2.85314 22.4958 3.17883 22.7689 3.56888 22.7689C3.95892 22.7689 4.28461 22.4958 4.36673 22.1306H19.6333C19.7154 22.4958 20.0411 22.7689 20.4312 22.7689C20.8212 22.7689 21.1469 22.4958 21.229 22.1306H23.1817C23.6336 22.1306 24 21.7641 24 21.3122V14.4424C24 13.9904 23.6336 13.624 23.1816 13.624ZM2.75048 20.4938H1.63678V15.2608H2.75048V20.4938ZM11.3588 8.708C11.5635 8.76289 11.7783 8.79256 12 8.79256C12.2218 8.79256 12.4366 8.76284 12.6413 8.708L18.8655 13.624H5.13459L11.3588 8.708ZM19.6127 20.4938H4.38722V15.2608H19.6127V20.4938H19.6127ZM22.3632 20.4938H21.2495V15.2608H22.3632V20.4938Z' fill='%237BC244'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_14:3313'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  }
}

.form-list__item--weigth {
  .selectize-control.single .selectize-input {
    padding: 10px 20px 10px 47px;
    background: #fff;
    border: 1px solid #d7dbe2;
    border-radius: 8px;
  }

  .selectize-control::before {
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='15' viewBox='0 0 22 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.7901 9.1557C16.3943 9.1557 15.2588 10.2913 15.2588 11.6871C15.2588 13.0826 16.3944 14.2182 17.7901 14.2182C19.1861 14.2182 20.3215 13.0826 20.3215 11.6871C20.3215 10.2913 19.1859 9.1557 17.7901 9.1557ZM17.7901 12.7985C17.1769 12.7985 16.6782 12.2998 16.6782 11.6868C16.6782 11.0736 17.1769 10.5749 17.7901 10.5749C18.4033 10.5749 18.902 11.0739 18.902 11.6868C18.9021 12.2998 18.4033 12.7985 17.7901 12.7985Z' fill='%237BC244'/%3E%3Cpath d='M14.1472 0H0.70972C0.317733 0 0 0.317732 0 0.709763V11.6395C0 12.0315 0.317733 12.3492 0.70972 12.3492H2.93355V10.9298H1.41944V1.41948H13.4375V11.6395H14.8569V0.709763C14.8569 0.317732 14.5392 0 14.1472 0Z' fill='%237BC244'/%3E%3Cpath d='M15.9688 10.9298H6.41113V12.3493H15.9688V10.9298Z' fill='%237BC244'/%3E%3Cpath d='M4.66028 9.1557C3.26448 9.1557 2.12891 10.2913 2.12891 11.6871C2.12891 13.0826 3.26448 14.2182 4.66028 14.2182C6.05609 14.2182 7.19166 13.0826 7.19166 11.6871C7.19161 10.2913 6.05609 9.1557 4.66028 9.1557ZM4.66028 12.7985C4.04708 12.7985 3.54839 12.2998 3.54839 11.6868C3.54839 11.0736 4.04708 10.5749 4.66028 10.5749C5.27349 10.5749 5.77217 11.0739 5.77217 11.6868C5.77217 12.2998 5.27323 12.7985 4.66028 12.7985Z' fill='%237BC244'/%3E%3Cpath d='M21.2921 5.89075H14.1475V7.31019H20.5823V10.9298H19.565V12.3492H21.292C21.684 12.3492 22.0017 12.0317 22.0017 11.6395V6.60047C22.0018 6.20848 21.684 5.89075 21.2921 5.89075Z' fill='%237BC244'/%3E%3Cpath d='M19.1461 2.94633C19.0214 2.71969 18.7829 2.5787 18.5241 2.5787H14.1475V3.99815H18.1044L19.7238 6.94256L20.9677 6.25837L19.1461 2.94633Z' fill='%237BC244'/%3E%3C/svg%3E%0A");
  }
}


.form-list__inner--mode {
  flex-grow: 1;
  width: 100%;
}


.form-list__item--class {
  .selectize-control.single .selectize-input {
    padding: 10px 20px 10px 47px;
    background: #fff;
    border: 1px solid #d7dbe2;
    border-radius: 8px;
  }

  .selectize-control::before {
    background-image: url("data:image/svg+xml,%3Csvg width='23' height='21' viewBox='0 0 23 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.6329 13.5677C15.4811 13.2303 15.0845 13.0798 14.747 13.2317L11.4339 14.7225L8.1209 13.2317C7.78344 13.0797 7.3868 13.2303 7.23497 13.5677C7.08311 13.9051 7.23359 14.3018 7.571 14.4536L9.80123 15.4572L7.571 16.4608C7.23354 16.6126 7.08311 17.0093 7.23497 17.3467C7.38639 17.6832 7.78268 17.8351 8.1209 17.6827L11.4339 16.1919L14.747 17.6828C15.0865 17.8356 15.4821 17.682 15.6329 17.3468C15.7847 17.0093 15.6343 16.6127 15.2969 16.4608L13.0666 15.4573L15.2969 14.4537C15.6343 14.3018 15.7847 13.9052 15.6329 13.5677Z' fill='%237BC244'/%3E%3Cpath d='M9.3289 12.0488C9.3289 12.4188 9.62889 12.7188 9.99891 12.7188H12.8693C13.2393 12.7188 13.5393 12.4188 13.5393 12.0488V11.0559C13.9985 10.543 14.2569 9.87441 14.2569 9.17837C14.2569 7.6219 12.9906 6.35559 11.4341 6.35559C9.87764 6.35559 8.61133 7.6219 8.61133 9.17837C8.61133 9.87441 8.86968 10.543 9.3289 11.0559V12.0488ZM11.4341 7.6956C12.2517 7.6956 12.9169 8.36078 12.9169 9.17837C12.9169 9.59877 12.7372 9.99993 12.4238 10.2789C12.281 10.406 12.1993 10.5881 12.1993 10.7793V11.3788H10.6689V10.7793C10.6689 10.5881 10.5872 10.406 10.4444 10.2789C10.1311 9.99993 9.95134 9.59877 9.95134 9.17837C9.95134 8.36078 10.6165 7.6956 11.4341 7.6956Z' fill='%237BC244'/%3E%3Cpath d='M22.5643 16.912L13.3895 1.36234C12.9865 0.679156 12.2375 0.25473 11.4347 0.25473C10.632 0.25473 9.88306 0.679156 9.48003 1.36229L0.305204 16.9119C-0.101891 17.6015 -0.101757 18.4584 0.30574 19.1483C0.709128 19.8308 1.45788 20.2547 2.25983 20.2547H20.6096C21.4116 20.2547 22.1604 19.8308 22.5638 19.1482C22.9712 18.4584 22.9714 17.6015 22.5643 16.912ZM21.41 18.4668C21.2468 18.7429 20.94 18.9148 20.6097 18.9148H2.25983C1.92947 18.9148 1.6227 18.743 1.45926 18.4665C1.30025 18.1973 1.30016 17.8625 1.45913 17.5931L10.6341 2.04324C10.7973 1.76657 11.1041 1.59474 11.4347 1.59474C11.7654 1.59474 12.0721 1.76657 12.2353 2.0432L21.4102 17.593C21.5694 17.8625 21.5692 18.1972 21.41 18.4668Z' fill='%237BC244'/%3E%3C/svg%3E%0A");
  }
}
