.services-sec {
  padding-bottom: 60px;

  &__box {
    display: grid;
    grid-template-columns: repeat(2, 48%);
    justify-content: space-between;
    grid-gap: 30px;
  }

  &__inner {
    display: flex;
    grid-gap: 30px;
    min-height: 270px;
    align-items: flex-start;
  }

  &__image {
    flex-shrink: 0;
    display: inline-flex;
  }

  &__article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
  }

  &__title {
    min-height: 72px;
    display: flex;
    align-items: center;
    font-family: $font-family--d;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 130%;
    color: $text--b;
  }

  &__text {
    font-family: $font-family--a;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: $text--c;
  }
}

// .services-sec__item {
//   max-height: 270px;
//   overflow: hidden;
// }
