.tabs-list {
  display: flex;
  justify-content: center;
  grid-gap: 46px;

  &__item {
    width: 23%;
    display: flex;
    align-items: center;
    flex-direction: column;
    grid-gap: 10px;
  }

  &__title {
    font-family: $font-family--a;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: $text--b;
    margin-bottom: 3px;
  }

  &__text {
    font-family: $font-family--a;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    color: $text--c;
    min-height: 73px;
    margin-bottom: 10px;
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 10px;
  }

  &__info {
    display: flex;
    align-items: center;
    grid-gap: 4px;
    font-family: $font-family--a;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 150%;
    color: $text--b;
  }
}



.tabs-list__item {
  cursor: pointer;
}

.tabs-list__item:hover {
  .more-slider {
    opacity: 1;
    pointer-events: initial;
  }
}


.more-slider {
  max-width: 200px;
  width: 100%;
  margin-left: auto;
  transform: translateX(50%) translateY(50%);
  height: 40px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: Min(5vw, 18px);
  margin-top: 10px;
  transition: all .4s;
}


@media screen and (max-width: 1370px) {
  .more-slider {
    transform: translateX(0%) translateY(50%);
  }
}

@media screen and (max-width: 1170px) {
  .more-slider {
    transform: translateX(0%) translateY(50%);
  }
}


@media screen and (max-width: 991px) {
  .more-slider {
    transform: translateX(0%) translateY(0%);
    margin: 50px auto 0;
    background: #5F5F5F;
    color: #fff;
  }
}

@media screen and (max-width: 575px) {
  .more-slider {
    margin: 20px auto 30px;
  }
}


