.text-sec {
  padding: 60px 0;

  &__top {
    margin-bottom: 25px;
  }
}


.text-box {
  display: grid;
  grid-gap: 25px;

  &__text {
    font-family: $font-family--a;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: $text--c;
  }
}

.documents-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  grid-gap: 50px 15px;

  &__item {
    width: 30%;
  }

  &__link {
    display: flex;
    align-items: center;
    grid-gap: 30px;
    font-family: $font-family--a;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: $text--b;

    svg {
      flex-shrink: 0;
    }
  }
}

.add-file {
  width: fit-content;
  display: flex;
  align-items: center;
  grid-gap: 15px;
  margin: 0 auto 30px;
  font-family: $font-family--c;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: rgba(95, 95, 95, 0.6);
}


.text-box + .documents-box {
  margin-top: 25px;
}
