@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Work Sans";

  font-display: swap;
  src: url("../fonts/WorkSans.woff2") format("woff2"), url("../fonts/WorkSans.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Work Sans";

  font-display: swap;
  src: url("../fonts/WorkSans-Medium.woff2") format("woff2"), url("../fonts/WorkSans-Medium.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "Work Sans";

  font-display: swap;
  src: url("../fonts/WorkSans-SemiBold.woff2") format("woff2"), url("../fonts/WorkSans-SemiBold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Work Sans";

  font-display: swap;
  src: url("../fonts/WorkSans-Bold.woff2") format("woff2"), url("../fonts/WorkSans-Bold.woff") format("woff");
}

// --------------------------------------------------------------------------------------------------------------------------

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Playfair Display";

  font-display: swap;
  src: url("../fonts/PlayFairDisplay-Bold.woff2") format("woff2"), url("../fonts/PlayFairDisplay-Bold.woff") format("woff");
}

// --------------------------------------------------------------------------------------------------------------------------

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Open Sans";

  font-display: swap;
  src: url("../fonts/OpenSans.woff2") format("woff2"), url("../fonts/OpenSans.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "Open Sans";

  font-display: swap;
  src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff");
}

// --------------------------------------------------------------------------------------------------------------------------

@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Noto Sans";

  font-display: swap;
  src: url("../fonts/NotoSans-Light.woff2") format("woff2"), url("../fonts/NotoSans-Light.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Noto Sans";

  font-display: swap;
  src: url("../fonts/NotoSans-Regular.woff2") format("woff2"), url("../fonts/NotoSans-Regular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Noto Sans";

  font-display: swap;
  src: url("../fonts/NotoSans-Medium.woff2") format("woff2"), url("../fonts/NotoSans-Medium.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "Noto Sans";

  font-display: swap;
  src: url("../fonts/NotoSans-SemiBold.woff2") format("woff2"), url("../fonts/NotoSans-SemiBold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Noto Sans";

  font-display: swap;
  src: url("../fonts/NotoSans-Bold.woff2") format("woff2"), url("../fonts/NotoSans-Bold.woff") format("woff");
}




