






$text--a: #7BC244;
$text--b: #5F5F5F;
$text--c: #666276;

$text--d: #8e8e8e;
$text--e: #cbcfd3;
$text--f: #f7f8fa;
$text--g: #000000;
$text--h: #ffffff;

$background--a: #7BC244;
$background--b: #5F5F5F;
$background--c: #BDE1A2;
$background--d: #666276;

$background--e: #cbcfd3;
$background--f: #f7f8fa;
$background--g: #000000;
$background--h: #ffffff;


$font-family--a: "Noto Sans", sans-serif;
$font-family--b: "Open Sans", sans-serif;
$font-family--c: "Work Sans", sans-serif;
$font-family--d: "Playfair Display", sans-serif;
